<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lnly.common.dao.AdminDictMapper" >
  <resultMap id="BaseResultMap" type="com.lnly.common.model.AdminDict" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="dict_code" property="dictCode" jdbcType="VARCHAR" />
    <result column="dict_name" property="dictName" jdbcType="VARCHAR" />
    <result column="high_dict" property="highDict" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dict_code, dict_name, high_dict, comment
  </sql>
  <sql id="limit_sql">
  	   <if test="page_sql != null and page_sql != ''">
      	${page_sql}
      </if>
  </sql>
  
  <sql id="where_all">
  	<where>
  	<if test="findContent != null and findContent !='' " >
        and (
        LOWER(dict_code) like  LOWER(CONCAT("%",#{dict_code,jdbcType=VARCHAR},"%")) or
        LOWER(dict_name) like  LOWER(CONCAT("%",#{dict_name,jdbcType=VARCHAR},"%"))
        )
      </if>
      </where>
  </sql>
  <select id="findAll" resultMap="BaseResultMap" >
  	 select 
    <include refid="Base_Column_List" />
    from tb_admin_dict
    <include refid="where_all"/>
    <include refid="limit_sql" />
  </select>
  <select id="findCount" resultMap="BaseResultMap" >
 	 select count(id) from  tb_admin_dict
  	<include refid="where_all" />
  </select>

    <select id="findByHighDict" resultMap="BaseResultMap" >
        select
        <include refid="Base_Column_List" />
        from tb_admin_dict
        where high_dict = #{highDict,jdbcType=VARCHAR} order by dict_code
    </select>

    <select id="findByDictCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from tb_admin_dict
        where dict_code = #{dictCode,jdbcType=VARCHAR}
    </select>

    <select id="findById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from tb_admin_dict
        where id = #{dictCode,jdbcType=BIGINT}
    </select>

  

</mapper>
